{% extends_admingenerated "NitraReviewBundle:ReviewEdit:form.html.twig" %}
{% trans_default_domain 'NitraReviewBundle' %}
 
  {% block form_fieldset_MessageData %}
    {{parent()}}
    {% if Review.utensils is defined %}
        {% if Review.utensils == 'product' %}
            {% set pathRoute = 'Nitra_ProductBundle_Product_edit' %}
        {% elseif Review.utensils == 'info' %}
            {% set pathRoute = 'Nitra_InformationBundle_Information_edit' %}
        {% elseif Review.utensils == 'store' %} 
            {% set pathRoute = 'Nitra_StoreBundle_Store_edit' %}
        {% else %}
            {% set pathRoute = false %}
        {% endif %}
        {% if pathRoute %}
            <fieldset class="form_block form_fieldset_MessageData fieldset_tabbable">
                {{ 'reviewLink' | trans }}<a target="_blank" href="{{ path ( pathRoute, {'pk' : Review.objectId}) }}" >{{ Review.reviewObjName}}<a>
            </fieldset>
        {% endif %}
    {% endif %}
{% endblock form_fieldset_MessageData %}