{% trans_default_domain "NitraReviewBundle" %}
<span> {{('mailing.respected' | trans) ~ ' ' ~ userName ~ ' ' ~ ('mailing.mailMessage' | trans) ~ ' ' ~ storeName  }}</span>
<div>
    {{ reviewText }}
</div>
<span> {{ 'mailing.mailMessageAnswer' | trans }}</span>
<div>
    {{ answerText }}
</div>
<span>{{ ('mailing.withRespect' | trans) ~ ' \"' ~ storeName ~ '\" ' ~ managerName }} </span>

