{% extends_admingenerated "NitraReviewBundle:ReviewList:row.html.twig" %}
{% trans_default_domain 'NitraReviewBundle' %}
{% block list_td_column_objRatingView %}{{ Review.objRatingView | trans }}{% endblock list_td_column_objRatingView %}
{% block list_td_column_utensilsView %}{{ Review.utensilsView | trans }}{% endblock list_td_column_utensilsView %}