{% extends baseTemplate %}

{% trans_default_domain "NitraReviewBundle" %}

{% block title %}
    {{ parent() }} - {{ 'settings.title'|trans }}
{% endblock title %}

{% block body %}
    {% block page_title %}
        <header>
            <h1>{{ 'settings.title'|trans }}</h1>
        </header>
    {% endblock page_title %}
    <div class="row-fluid">
        {% block form %}
            {{ form_start(form) }}
                <fieldset class="form_block form_fieldset_NONE">
                    {{ form_rest(form) }}
                </fieldset>
                <div class="actions form-actions">
                    <input type="submit" name="save" class="i_save" value="{{ 'settings.save'|trans }}">
                </div>
            {{ form_end(form) }}
        {% endblock form %}
    </div>
{% endblock body %}